{
  "GOOGLE_MOBILE_ADS_BANNER_AD_UNIT_ID": "YOUR_BANNER_AD_UNIT_ID",
  "GOOGLE_MOBILE_ADS_INTERSTITIAL_AD_UNIT_ID": "YOUR_INTERSTITIAL_AD_UNIT_ID",
  "GOOGLE_MOBILE_ADS_REWARDED_INTERSTITIAL_AD_UNIT_ID": "YOUR_REWARDED_INTERSTITIAL_AD_UNIT_ID",
  "GOOGLE_MOBILE_ADS_ON_START_AD_UNIT_ID": "YOUR_ON_START_AD_UNIT_ID"
}
